<template>
  <div>
    <modal name="LoginModal" scrollable classes="modal" width="500px" height="auto">
      <div class="modal__body" style="background: #fff !important; padding: 30px;">
        <h3><mark>My</mark>TopMusic</h3>
        <p>Войти в свой аккаунт</p>
        <el-form
          :model="loginData">
          <el-form-item required label="Почта" @keyup.enter.native="login">
            <el-input v-model="loginData.email" class="input"></el-input>
          </el-form-item>
          <el-form-item required label="Пароль" @keyup.enter.native="login">
            <el-input v-model="loginData.password" class="input" show-password></el-input>
          </el-form-item>
          <el-button type="submit" class="login" @click="login">Войти</el-button>
        </el-form>
      </div>
    </modal>
  </div>
</template>

<script>
import { getToken } from '@/utils/auth'

export default {
  data: () => ({
    loginData: {
      email: '',
      password: ''
    }
  }),
  methods: {
    async login(){
      await this.$store.dispatch('user/loginByUsername', this.loginData)
      await this.$store.dispatch('user/getCurrent')
      this.$socket.io.uri = `${this.$socket.io.uri}?auth=Bearer ${getToken()}`
      this.$socket.connect()
      this.$modal.hide('LoginModal')
    },
    test(){
      console.log(this.$socket.io)
    }
  }
}
</script>

<style lang="scss">
.modal__body{
  width: 100%;
  box-sizing: border-box;
  
  .input{
    width: 100%;
  }

  h3{
    font-size: 28px;
    mark{
      font-size: 32px;
      background-color: transparent;
      color: #409EFF;
    }
  }
  p{
    margin: 0;
  }
}
</style>