<template>
  <div>
    <modal name="RegistrationModal" scrollable classes="modal" width="500px" height="auto">
      <div class="modal__body" style="background: #fff !important; padding: 30px;">
        <h3><mark>My</mark>TopMusic</h3>
        <p>Зарегистрироваться на сайте</p>
        <el-form
          :model="registerData"
          ref="registerForm">
            <el-form-item label="Имя" class="label" @keyup.enter.native="submitForm('registerForm')">
              <el-input v-model="registerData.name" class="input"></el-input>
            </el-form-item>
            <el-form-item label="Почта" class="label" @keyup.enter.native="submitForm('registerForm')">
              <el-input v-model="registerData.email" class="input" type="email"></el-input>
            </el-form-item>
            <el-form-item label="Пароль" class="label" @keyup.enter.native="submitForm('registerForm')">
              <el-input v-model="registerData.password" class="input" show-password></el-input>
            </el-form-item>
            <el-form-item label="Повторите пароль" class="label" @keyup.enter.native="submitForm('registerForm')">
              <el-input v-model="registerData.c_password" class="input" show-password></el-input>
            </el-form-item>
        </el-form>
        <el-button type="primary" @click="submitForm('registerForm')" class="btn-reg">Зарегистрироваться</el-button>
      </div>
    </modal>
  </div>
</template>


<script>
export default {
  data: () => ({
    registerData: {
      name: '',
      email: '',
      password: '',
      c_password: ''
    }
  }),
  methods: {
    submitForm(formName){
      const { name, email, password, c_password } = this.registerData
      // eslint-disable-next-line
      const regPass = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,}$/
      // eslint-disable-next-line
      const regEmail = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/

      this.$refs[formName].validate(async valid => {
        if(!regEmail.test(email)){
          this.$message.error('Неправильно введён Email')
          return
        }

        if(!regPass.test(password)){
          this.$message.error('Неправильно введён пароль. Пароль должен содержать заглавную букву, цифру и спецсимвол, длина не менее 6 символов')
          return
        }

        if(valid && name && email && password && c_password){
          if(password === c_password){
            await this.$store.dispatch('user/signUp', this.registerData)
            this.$router.push('/')
            this.$modal.hide('RegistrationModal')
          } else {
            this.$message.error('Пароли не совпадают')
            return false
          }
        } else {
          this.$message.error('Заполнены не все поля')
          return false
        }
      })
    }
  },
}
</script>

<style lang="scss" scoped>
h3 {
  font-size: 28px;
  margin: 5px 0;

  mark {
    font-size: 32px;
    background-color: transparent;
    color: #409EFF;
  }
}

p {
  margin: 0;
}

.label {  
  margin: 0;
  .input{
    margin: 0;
  }
}

.btn-reg {
margin: 10px 0;
}
</style>