<template>
  <div class="users">
    <h3>Пользователи</h3>
    <el-form ref="form" :model="form" class="users-search">
      <el-form-item>
        <el-input placeholder="Введите имя пользователя" v-model="form.user" class="users-search-input" clearable>
          <template slot="prepend"><i class="el-icon-search"></i></template>
        </el-input>
      </el-form-item>
    </el-form>
    <div class="users-list">
      <div class="users-list-user">
        <div class="users-list-user-avatar">
          <i class="el-icon-user"></i>
        </div>
        <div class="users-list-user-info">
          <p class="users-list-user-info-name">UserName <el-button type="text" class="mark">Удалить</el-button></p>
          <p class="users-list-user-info-root"></p>
        </div>
      </div>
      <div class="users-list-user">
        <div class="users-list-user-avatar">
          <i class="el-icon-user"></i>
        </div>
        <div class="users-list-user-info">
          <p class="users-list-user-info-name">ModerName <el-button type="text" class="mark">Разжаловать</el-button></p>
          <p class="users-list-user-info-root">Модератор</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      form: {
        user: ''
      },
      loadingbtn: false,
    }
  }
} 
</script>

<style lang="scss" scoped>
.users{
  display: flex;
  overflow: hidden;
  flex-direction: column;
  max-width: 100%;
  &-search{
    display: flex;
    justify-content: space-between;
    width: 60%;
    &-input{
      margin: 0;
      width: 50vw;
    }
  }
  &-list{
    margin: 2vh 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    &-user{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 50%;
      &-avatar{
        i{
          border: solid 1px #409EFF;
          border-radius: 50%;
          padding: 10px;
          font-size: 22px;
          color: #409EFF;
        }
      }
      &-info{
        width: 70%;
        display: flex;
        padding: 0 0 0 10px;
        flex-direction: column;
        &-name{
        display: flex;
        justify-content: space-between;
        font-size: 1.1rem;
        margin: 0;
          .mark{
            color: #606266;
            padding: 0 !important;
            &:hover{
              color: #409EFF;
            }
          }
        }
        &-root{
          margin: 0;
          color: #409EFF;
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .users-search-input{
    width: 85vw;
  }
  .users-list-user{
    width: 95%;
    margin: 10px 0;
    &-info{
      width: 100%;
    }
  }
}

@media (min-width: 1440px) {
  .users-list-user{
    width: 32%;
  }
}
</style>
