<template>
  <div class="genre">
    <h3>Жанры</h3>
    <el-form ref="form" :model="form" class="genre-add">
      <el-form-item>
        <el-input v-model="form.genre" class="genre-add-input" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleSubmit" :disabled="loadingbtn" :loading="loadingbtn" class="genre-add-btn">Добавить новый жанр</el-button>
      </el-form-item>
    </el-form>
    <div class="list">
      <div class="list-genre" v-for="({ id, name }) in genres" :key="id">
        <p>{{ name }} <el-button type="text" class="mark" @click="e => handleClick(e, id)" :disabled="genreLoading">Удалить</el-button></p>
      </div>
    </div>
  </div>
</template>

<script>
import { getGenres, addGenre, deleteGenre } from '@/api/file'

export default {
  data(){
    return {
      form: {
        genre: ''
      },
      genres: [],
      loadingbtn: false,
      loading: true,
      genreLoading: false
    }
  },
  async mounted(){
    const response = await getGenres(15, 1)
    this.genres = response.data.data
    this.loading = false
  },
  methods: {
    async handleClick(e, id){
      this.$confirm('Вы точно хотите удалить этот жанр?', 'Warning',{
        confirmButtonText: 'Удалить',
        cancelButtonText: 'Закрыть',
        type: 'warning'
      }).then(async () => {
        this.genreLoading = true
        await deleteGenre(id)
        const response = await getGenres(15, 1)
        this.genres = response.data.data
        this.genreLoading = false
        this.$message({
          type: 'success',
          message: 'Жанр удален'
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: 'Вы отменили удаление'
        })
      })
    },
    async handleSubmit(){
      const { genre } = this.form

      if(!genre){
        this.$message.error('Введите название жанра')
        return false
      }

      this.loadingbtn = true

      await addGenre({ name: genre })
      const response = await getGenres(15, 1)
      this.genres = response.data.data

      this.loadingbtn = false
    }
  }
}
</script>


<style lang="scss">
.genre {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  max-width: 100%;
  
  &-add {
    display: flex;
    justify-content: space-between;
    width: 60%;

    &-label {
      display: flex;
      flex-direction: row;
    }

    &-input {
      margin: 0;
      width: 40vw !important;
    }

    &-btn {
      margin: 0 1vw !important;
    }
  }
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  &-genre {
    display: flex;
    width: 50%;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: justify;
    p {
      width: 80%;
      display: flex;
      justify-content: space-between;
    }
    .mark {
      color: #606266;
      padding: 0 !important;
      &:hover {
        color: #409EFF;
      }
    }
  }
}

@media (max-width: 650px) {
  .genre-add {
    width: 100%;
    &-input {
      width: 50vw;
    }
    &-btn{
      font-size: 0.9rem;
      padding: 12px 15px;
    }
  }
  .list-genre {
    width: 95%;
    margin: 10px 0;
    p {
      width: 100%;
    }
  }
}

@media (min-width: 1440px) {
  .list-genre {
    width: 33%;
  }
}

</style>
