<template>
  <div class="users">
    <h3>Пользователи</h3>
    <div class="users-list" v-loading="loading">
      <user-item 
        v-for="user in users.data" 
        :user="user"
        :key="user.id" 
        :page="currentPage"
        :limit="limit"/>
    </div>
    <el-pagination
      class="pagination"
      background
      layout="prev, pager, next"
      :page-count="countOfPages"
      @current-change="handleChange"
      :current-page.sync="currentPage">
    </el-pagination>
  </div>
</template>

<script>
import UserItem from '@/components/UsersList/UserItem'

export default {
  data(){
    return {
      loadingbtn: false,
      limit: 15,
      totalItems: 0,
      countOfPages: 0,
      currentPage: 1,
      loading: false,
    }
  },
  components: {
    'user-item': UserItem
  },
  methods: {
    async getUsersList(){
      this.loading = true

      await this.$store.dispatch('users/getUsersList', {
        page: this.currentPage,
        limit: this.limit,
        orderColumn: 'name',
        orderType: 'asc'
      })

      this.totalItems = this.users.count
      this.countOfPages = Math.ceil(this.totalItems/this.limit)

      this.loading = false
    },
    handleChange(page){
      this.currentPage = page
      this.getUsersList()
    }
  },
  created(){
    this.getUsersList()
  },
  computed: {
    users(){
      return this.$store.getters['users/users']
    }
  },
  watch: {
    '$route'(){
      this.currentPage = 1
      this.getUsersList()
    } 
  }
} 
</script>

<style lang="scss">
.users {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  max-width: 100%;

  &-search {
    display: flex;
    justify-content: space-between;
    width: 60%;

    &-input {
      margin: 0;
      width: 50vw;
    }
  }

  &-list {
    margin: 2vh 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 100%;

    &-user {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      &-avatar {

        i {
          border: solid 1px #409EFF;
          border-radius: 50%;
          padding: 10px;
          font-size: 22px;
          color: #409EFF;
        }
      }

      &-info {
        width: 70%;
        display: flex;
        padding: 0 0 0 10px;
        flex-direction: column;

        &-name {
        display: flex;
        justify-content: space-between;
        font-size: 1.1rem;
        margin: 0;

          .mark {
            color: #606266;
            padding: 0 !important;

            &:hover {
              color: #409EFF;
            }
          }
        }

        &-root {
          margin: 0;
          color: #409EFF;
          font-size: 0.9rem;
        }
      }
    }
  }
}

.pagination {
  margin: auto
}

@media (max-width: 425px){
  .users-list {
    grid-template-columns: repeat(1, 1fr);

    &-user {
      width: 100%;
    }
  }
  .pagination {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media (min-width: 426px) and (max-width: 640px) {
  .users-list {
    grid-template-columns: repeat(1, 1fr);
    
    &-user {
      width: 88vh;
    }
  }
}
@media (min-width: 641px) and (max-width: 720px) {
  .users-list {
    grid-template-columns: repeat(1, 1fr);
    &-user {
      width: 100vh;
      
      &-info{
        width: 100%;
      }
    }
  }
}

@media (min-width: 721px) and (max-width: 1200px) {
  .users-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .pagination {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1440px) {
  .users-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .users-list-user {
    width: 100%;
  }
}
</style>
