<template>
  <div class="users-list-user">
    <div class="users-list-user-avatar">
      <i class="el-icon-user"></i>
    </div>
    <div class="users-list-user-info">
      <p class="users-list-user-info-name">
        {{ user.name }}
      </p>
      <p class="users-list-user-info-root">{{ checkRoles(user.roles) }}</p>
    </div>
    <el-popover
      placement="bottom"
      width="250"
      trigger="click"
      class="root">
      <div class="buttons-container">
        <el-button v-if="isModer" @click="lowerRole()" :disabled="loading">Понизить до пользователя</el-button>
        <el-button v-else @click="raiseRole('ROLE_MODER')" :disabled="loading">Повысить до модератора</el-button>
        <el-button @click="deleteUserAccount" :disabled="loading" type="danger">Удалить аккаунт</el-button>
      </div>
      <el-button slot="reference">Изменить роль</el-button>
    </el-popover>
  </div>
</template>

<script>
import { changeRoles, deleteUser } from '@/api/users'

export default {
  data(){
    return {
      loading: false
    } 
  },
  name: 'user-item',
  props: ['user', 'page', 'limit'],
  methods: {
    checkRoles(roles){
      let role = 'Пользователь'

      if(roles.includes('ROLE_ADMIN')){
        role = 'Администратор'
      } else if(roles.includes('ROLE_MODER')){
        role = 'Модератор'
      }

      return role
    },
    raiseRole(role){
      const roles = ['ROLE_USER']
      roles.push(role)
      
      this.askQuestion(roles)
    },
    lowerRole(role = ''){
      const roles = ['ROLE_USER']

      if(role){
        roles.push(role)
      }

      this.askQuestion(roles)
    },
    deleteUserAccount(){
      this.$confirm('Вы точно хотите удалить этого пользователя?', 'Warning',{
        confirmButtonText: 'Удалить',
        cancelButtonText: 'Закрыть',
        type: 'warning'
      }).then(async () => {
        this.loading = true

        const resp = await deleteUser({
          userId: this.user.id
        })

        await this.$store.dispatch('users/getUsersList', {
          page: this.page,
          limit: this.limit,
          orderColumn: 'name',
          orderType: 'asc'
        })

        this.loading = false
        this.$message({
          type: 'success',
          message: 'Пользователь удалён'
        })
      }).catch((e) => {
        if(e === 'delete user error'){
          this.$message({
            type: 'error',
            message: 'Ошибка удаления пользователя'
          })
        }
      })
    },
    askQuestion(roles){
      this.$confirm('Вы точно хотите изменить данному пользователю роль?', 'Warning',{
        confirmButtonText: 'Изменить',
        cancelButtonText: 'Закрыть',
        type: 'warning'
      }).then(async () => {
        this.loading = true

        await changeRoles({
          userId: this.user.id,
          roles
        })

        await this.$store.dispatch('users/getUsersList', {
          page: this.page,
          limit: this.limit,
          orderColumn: 'name',
          orderType: 'asc'
        })

        this.loading = false
        this.$message({
          type: 'success',
          message: 'Роль изменена'
        })
      }).catch((e) => console.log(e))
    }
  },
  computed: {
    isModer(){
      return this.user.roles.includes('ROLE_MODER')
    }
  }
}
</script>

<style lang="scss" scoped>
.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > button {
    width: 230px;
    margin: 5px 0;
  }

  .el-button+.el-button {
    margin-left: 0px;
  }

}

@media (max-width: 425px) {
  .users{
    font-size: 12px;
  }
  .users-list-user-avatar i{
    padding: 6px !important;
    font-size: 16px !important;
  }
  .el-button{
    padding: 10px 15px !important;
    font-size: 12px !important;
  }
}

</style>


