<template>
  <div class="playlists" v-loading="loading">
    <playlistItem
      v-for="(playlist, idx) in playlistsFav" 
      :key="idx" 
      :id="idx"
      :playlist="playlist"/>
  </div>
</template>

<script>
import playlistItem from '@/components/Playlist/Item.vue'

export default {
  data(){
    return{
      userId: null,
      loading: true
    }
  },
  async mounted(){
    if(!this.$route.params.playlistId){
      let userInfo = this.$store.getters['user/userInfo']

      if(userInfo === null){
        const resp = await this.$store.dispatch('user/getCurrent')
        userInfo = resp.data
      }

      this.userId = userInfo.id
      this.getPlaylists()

      this.loading = false
    }
  },
  methods: {
    async getPlaylists(){
      await this.$store.dispatch('playlist/getFavPlaylists', {
        userId: this.userId,
        page: 1, 
        limit: 15
      })
    }
  },  
  components:{
    playlistItem
  },
  computed: {
    playlistsFav(){
      return this.$store.getters['playlist/playlistsFav']
    }
  },
  watch: {
    async '$route'(){
      this.loading = true

      if(!this.$route.params.playlistId){
        let userInfo = this.$store.getters['user/userInfo']

        if(userInfo === null){
          const resp = await this.$store.dispatch('user/getCurrent')
          userInfo = resp.data
        }

        this.userId = userInfo.id

        this.getPlaylists()
        this.loading = false
      }
    } 
  }
}
</script>

<style lang="scss" scoped>
.playlists { 
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
</style>
