<template>
  <router-view v-if="$route.params.playlistId || $route.path === '/my-music/create' "></router-view>
  <div class="my-music" v-else>
    <h3>Моя музыка</h3>
    <el-tabs v-model="activeName">
      <el-tab-pane label="Мои плейлисты" name="first"><MyMusic/></el-tab-pane>
      <el-tab-pane label="Изранные плейлисты" name="second"><FavoritesMusic/></el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
export default {
  data(){
    return {
      activeName: 'first'
    }
  },
  components: {
    MyMusic: () => import('./MyMusic.vue'),
    FavoritesMusic: () => import ('./FavoritesMusic.vue')
  }
}
</script>

<style lang="scss" scoped>
.my-music {
  margin-top: 3vh;
}
</style>