<template>
  <div class="playlists" v-loading="loading">
    <div class="create-playlist-container">
      <div class="create-playlist">
        <el-button icon="el-icon-plus" circle @click="$router.push('/my-music/create')"></el-button>
      </div>
      <span class="span-create">Создать новый</span>
    </div>
    <playlistItem
      v-for="playlist in playlists" 
      :key="playlist.id" 
      :id="playlist.id"
      :playlist="playlist"/>
  </div>
</template>

<script>
import playlistItem from '@/components/Playlist/Item.vue'

export default {
  data(){
    return{
      userId: null,
      loading: true
    }
  },
  async mounted(){
    if(!this.$route.params.playlistId){
      let userInfo = this.$store.getters['user/userInfo']

      if(userInfo === null){
        const resp = await this.$store.dispatch('user/getCurrent')
        userInfo = resp.data
      }

      this.userId = userInfo.id
      this.getPlaylists()

      this.loading = false
    }
  },
  methods: {
    async getPlaylists(){
      await this.$store.dispatch('playlist/getPlaylists', { user: this.userId })
    }
  },  
  components:{
    playlistItem
  },
  computed: {
    playlists(){
      return this.$store.getters['playlist/playlists']
    }
  },
  watch: {
    async '$route'(){
      this.loading = true

      if(!this.$route.params.playlistId){
        let userInfo = this.$store.getters['user/userInfo']

        if(userInfo === null){
          const resp = await this.$store.dispatch('user/getCurrent')
          userInfo = resp.data
        }

        this.userId = userInfo.id

        this.getPlaylists()
        this.loading = false
      }
    } 
  }
}
</script>

<style lang="scss" scoped>
.playlists { 
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .create-playlist-container {
    .create-playlist {
      display: flex; 
      justify-content: space-around;
      align-items: center;
      width: 150px;
      margin: 10px 10px 0 10px;
      height: 150px; 
      border: solid 1px #409EFF;

      .el-icon-plus:hover {
        color: #409EFF;
        cursor: pointer;
      }
    }
    .span-create {
      display: block;
      text-align: center;
      margin: 5px 0;
      width: 100%;
    }
  }
}
</style>
