<template>
  <div class="playlist-create">
    <el-upload
      action="http://symfony.dev.webant.ru"
      :auto-upload="false"
      class="avatar-uploader"
      :show-file-list="false"
      :on-change="handleChangeFile">
      <img v-if="imageUrl" :src="imageUrl" class="avatar">
      <i v-else class="el-icon-picture-outline avatar-uploader-icon"></i>
      <el-button class="playlist-create-img-addbtn">Загрузить обложку</el-button>
    </el-upload>
    <div class="playlist-create-right">
      <el-input 
        class="playlist-create-name" 
        v-model="form.name" 
        placeholder="Playlist name">
      </el-input>
      <el-select 
        id="test"
        class="playlist-create-genre" 
        v-model="form.selectedGenre" 
        placeholder="Genre"
        no-data-text="Загрузка..."
        @visible-change="handleVisibleChange">
        <el-option
          v-for="item in genres"
          :key="item.name"
          :value="item.id"
          :label="item.name">
        </el-option>
      </el-select>
      <el-button class="playlict-create-crbtn" type="primary" @click="handleSubmit">Создать плейлист</el-button>
    </div>
  </div>
</template>

<script>
import imageNotFound from '@/assets/notImage.jpg'

import { getGenres, uploadFile, getNameFile, getPlaylists } from '@/api/file'

export default {
  data(){
    return {
      form: {
        file: {},
        selectedGenre: '',
        name: ''
      },
      imageNotFound,
      imageUrl: '',
      genre: '',
      genres: [],
    }
  },
  async mounted(){
    const response = await getPlaylists()
    console.log(response)
  },
  methods: {
    handleChangeFile(file){
      this.form.file = file
      this.imageUrl = URL.createObjectURL(file.raw)
    },
    async handleVisibleChange(val){
      if(val){
        const response = await getGenres(15, 1)
        this.genres = response.data.data
      }
    },
    async handleSubmit(){
      const { selectedGenre, name, file } = this.form

      if(!file.raw){
        this.$message.error('Фотография не была добавлена')
        return false
      }

      if(!name){
        this.$message.error('Введите имя')
        return false
      }

      if(!selectedGenre){
        this.$message.error('Выберите категорию')
        return false
      }

      const formData = new FormData()
      formData.append('file', file.raw)

      const response = await getNameFile(formData, 'files')
      await uploadFile({
        name,
        filepath: response.data.name,
        genreId: selectedGenre
      }, 'playlists')

      this.$router.push('/my-music')
    }
  }
}
</script>

<style lang="scss">
.playlist-create{
  margin-top: 5vh;
  width: 90%;
  display: flex;
  justify-content: center;

  &-img{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;

    &-addbtn{
      margin: 0 0 5px 0;
    }
  }
  &-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 5vw;
  }
  &-name, &-genre, &-crbtn{
    width: 30vw;
  }
}

.avatar-uploader {
  position: relative;
  height: 200px;
  width: 200px;

  .playlist-create-img-addbtn {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }

  .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;

    &:hover {
      border-color: #409EFF;
    }
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100%;
    height: 100%;
    line-height: 200px;
    text-align: center;
  }

  .avatar {
    width: 100%;
    height: 100%;
    display: block;
  }
}

@media (max-width: 770px) {
  .playlist-create{
    &-img{
      width: 120px;
      height: 120px;
    }
    &-right{
      margin-left: 2vw;
    }
    &-name, &-genre, &-crbtn{
    width: 50vw;
    }
  }
}
@media (max-width: 560px) {
  .playlist-create{
    flex-wrap: wrap;
    &-name, &-genre, &-crbtn{
      width: 70vw;
      margin: 10px 0;
    }
    &-img{
      width: 250px;
      height: 250px;
    }
  }
  .avatar-uploader{
    margin: 0 0 20px 0;
  }
}

</style>