<template>
  <div class="playlist" v-if="$route.params.playlistId !== 'create'">
    <div class="playlist-header" v-if="playlist.id">
      <div class="playlist-img" :style="{'background-image': `url(http://symfony.dev.webant.ru/storage/${playlist.image})`}"></div>
      <div class="playlist-right-side">
        <div class="playlist-description">
          <span class="playlist-description-type">Альбом</span>
          <span class="playlist-description-genre">{{ genre }}</span>
          <span class="playlist-description-heading">{{ playlist.name }}</span>
          <span class="playlist-description-author">By: 
            <span class="playlist-description-author-name">{{ author }}</span>
          </span>
          <rate :rating="rating"/>
        </div>
        <div class="playlist-buttons">
          <el-button round
            @click="toggleForm = !toggleForm" 
            type="primary"
            v-if="isOwner"
            class="add">
            Добавить песню
          </el-button>
          <like 
            v-if="isLogged && !isOwner" 
            :playlistId="playlistId"
            :isFav="playlist.isFavorite"
          />
          <share/>
          <el-button circle
            @click="handleDelete" 
            :icon="'el-icon-delete'" 
            type="primary"
            class="star"
            v-if="isDelete">
            </el-button>
        </div>
      </div>      
    </div> 
    <div class="playlist-body">
      <div class="playlist-body-create" v-if="toggleForm">
        <el-upload
          action="http://symfony.dev.webant.ru"
          class="upload"
          :auto-upload="false"
          :show-file-list="false"
          :on-change="handleChangeFile">
          <el-button class="playlist-body-create-img-addbtn">Загрузить песню</el-button>
        </el-upload>
        <div class="playlist-body-create-right">
          <p><i class="el-icon-document"></i></p>
          <el-input
            class="playlist-body-create-right-name" 
            v-model="form.name" 
            placeholder="Название песни">
          </el-input>
          <p @click="clear" class="clear"><i class="el-icon-close"></i></p>
        </div>
        <el-button type="primary" @click="handleSubmit" class="btn">Добавить в плейлист</el-button>
      </div>
      <div class="songs-list">
        <div class="song" v-for="song in songsList" :key="song.id">
          <span>{{ song.name }}</span>
          <audio controls>
            <source :src="`http://symfony.dev.webant.ru/storage/${song.file}`" type="audio/mpeg">
            Тег audio не поддерживается вашим браузером. 
          </audio>
        </div>
      </div>
    </div>
    <Comments :playlistId="playlistId"/> 
  </div>
</template>

<script>
import imageNotFound from '@/assets/notImage.png'
import Comments from '@/components/Comments'

import { getPlaylistsById, deletePlaylist } from '@/api/playlists'
import { getGenreById, getNameFile, uploadFile } from '@/api/file'
import { getSongsList, postSong } from '@/api/songs'

export default {
  data(){
    return {
      imageNotFound,
      toggleForm: false,
      toggleAdd: false,
      playlistId: this.$route.params.playlistId || {},
      playlist: {},
      songsList: [],
      author: '',
      form: {
        name: '',
        file: ''
      },
      userId: '',
      rating: null
    }
  },
  components:{
    share: () => import('./Share.vue'),
    like: () => import('./Like.vue'),
    rate: () => import('./Rate.vue'),
    Comments
  },
  async created(){
    let response, 
        request = false

    if(this.userInfo !== null){
      response = await getPlaylistsById(this.playlistId, this.userInfo.id)
      request = true
    } else {
      response = await getPlaylistsById(this.playlistId)
    }
    this.userId = response.data.user_id

    const genre = await getGenreById(response.data.genre_id)
    const response4 = await getSongsList({
      id: this.playlistId,
      limit: 15,
      page: 1
    })

    !request && this.userInfo !== null ? response = await getPlaylistsById(this.playlistId, this.userInfo.id) : ''

    this.playlist = response.data
    this.author = response.data.user.name
    this.rating = response.data.userRating !== null ? response.data.rating : null
    this.genre = genre.data.name
    this.songsList = response4.data.data
  },
  methods: {
    handleChangeFile(file){
      this.form.file = file
      this.form.name = file.name
    },
    async handleSubmit(){
      const { name, file } = this.form

      if(!name){
        this.$message.error('Введите название песни')
        return false
      }

      if(!file.raw){
        this.$message.error('Добавьте песню')
        return false
      }
    
      const formData = new FormData()
      formData.append('file', file.raw)

      const response = await getNameFile(formData, 'audiofiles')
      const response2 = await uploadFile({
        name,
        filepath: response.data.name
      },'songs')

      await postSong(this.playlistId, {
        songId: response2.data.id
      })

      this.toggleForm = false
      this.clear()

      const response4 = await getSongsList({
        id: this.playlistId,
        limit: 15,
        page: 1
      })

      this.songsList = response4.data.data
    },
    handleDelete(){
      this.$confirm('Вы точно хотите удалить плейлист? Отменить это действие будет невозможно.', 'Warning',{
        confirmButtonText: 'Удалить',
        cancelButtonText: 'Закрыть',
        type: 'warning'
      }).then(async () => {
        const resp = await deletePlaylist(this.playlistId)

        if(resp.response.status !== 500){
          this.$router.push('/my-music')
        }

        throw 'Ошибка сервера'
      }).catch((e) => {
        e === 'cancel' && this.$message({
          type: 'info',
          message: 'Вы отменили удаление'
        })
      }) 
    },
    clear(){
      this.form = {
        name: '',
        file: ''
      }
    }
  },
  computed: {
    isLogged(){
      return this.$store.getters['user/isLogged']
    },
    userInfo(){
      return this.$store.getters['user/userInfo']
    },
    isOwner(){
      return this.isLogged && this.userInfo.id === this.userId
    },
    isDelete(){
      const roles = this.$store.getters['user/roles']
      return roles.includes('ROLE_ADMIN') || roles.includes('ROLE_MODER') || this.isOwner
    }
  },
  watch: {
    '$route'(){
      this.playlistId = this.$route.params.playlistId
    } 
  }
}
</script>

<style lang="scss">
.playlist {
  margin-top: 3vh;
  &-header {
    width: 90%;
    display: flex;
    .playlist-img {
      width: 200px;
      height: 200px;
      background-position: center;
      background-size: cover;
    }
    .playlist-right-side {
      color: #606266;
      font-weight: 100;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      margin-left: 30px;
      .playlist-description {
        display: flex;
        flex-direction: column;
        &-type{
          font-size: 22px;
        }
        &-genre{
          color: #409EFF;
          font-size: 18px;
        }
        &-heading{
          font-size: 32px;
        }
        &-author{
          font-size: 22px;
          &-name{
            color: #409EFF;
          }
        }
      }
    }
  }        
  .star{
    margin: 0 10px;
  }
  .add{
    margin-right: 10px; 
  }

  &-body {
    &-create {
      margin: 1vh 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      &-img-addbtn{
        margin: 2vh 0;
        width: 20vw;
      }
      &-right{
        display: flex;
        flex-direction: row;
        align-items: center;
        &-name{
          width: 45vw;
          margin: 1vh 1vw;
        }
        p{
          font-size: 12px;
        }
      }
      .btn{
        margin: 1vh 0;
      }
    }
  }
}
.songs-list {
  display: flex;
  flex-direction: column;
  .song {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(223, 223, 223);
    audio {
      width: 100%;
    }
  }
}
.comments{
  display: flex;
  flex-direction: column;
  width: 100%;
  &-header{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  &-pag{
    display: flex;
    justify-content: center;
  }
}

.clear {
  padding: 0 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .playlist-description {
    &-type{
      font-size: 16px !important;
    }
    &-genre{
      font-size: 14px !important;
    }
    &-heading{
      font-size: 18px !important;
    }
    &-author{
      font-size: 14px !important;
    }
  }
  .playlist-header .playlist-img {
    width: 120px;
    height: 120px;
  }
  .playlist-right-side{
    margin-left: 15px;
  }
  .playlist-body-create-right-name{
    width: 60vw;
  }
  .playlist-body-create-img-addbtn{
    width: 35vw;
  }
  .star{
    margin: 0 5px;
  }
  .add{
    margin-right: 5px;
  }
}
@media (max-width: 500px) {
  .playlist{
    font-size: 12px;
    &-buttons{
      width: 100%;
      .add, .star{
        font-size: 10px;
        margin: 0 2px;
      }
    }
    &-img{
      width: 110px;
      height: 110px;
    }
    &-header{
      width: 100%;
    }
    &-body-create{
      &-right-name{
        width: 90vw;
      }
      &-img-addbtn{
        width: 92vw;
      }
    }
    &-right-side{
      margin-left: 10px !important;
      width: 100%;
    }
  }
}
@media (max-width: 350px) {
  .playlist-img{
    width: 100px;
  }
  .add{
    padding: 12px !important;
  }
}
</style>