<template>
  <div 
    @click="$router.push(`/my-music/${playlist.id}`)" >
    <div class="playlist"
      :style="{'background-image': `url(http://symfony.dev.webant.ru/storage/${playlist.image})`}" 
    >
    </div>
    <span class="playlist-name">{{ playlist.name }}</span>
  </div>
</template>

<script>
export default {
  data(){
    return {
      togglePlus: false
    }
  },
  props: {
    playlist: {
      default: {},
    }
  }
}
</script>

<style lang="scss" scoped>
$size: 150px;
div{
  position: relative;
  &:hover{
    color: #409eff;
  }
  .playlist{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    width: $size;
    margin: 10px 10px 0 10px;
    height: $size; 
    border: solid 1px #409EFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:hover{
      box-shadow: 10px -10px 10px 0px rgba(194,194,194,1);
    }
  }
  .playlist-name {
    margin:5px 0 0 10px;
    display: block;
    width: 100%;
    text-align: start;
  }
}
</style>