<template>
  <el-button 
    circle
    @click="handleClick" 
    :icon="isFavorite ? 'el-icon-star-on' : 'el-icon-star-off'" 
    type="primary"
    class="star"
    :disabled="loading">
  </el-button>
</template>

<script>
import { postPlaylistToFavorites, deletePlaylistFromFavorites } from '@/api/playlists'

export default {
  data(){
    return {
      isFavorite: false,
      loading: false
    }
  },
  props: ['playlistId', 'isFav'],
  async created(){
    if(!this.playlistsFav.length){
      await this.$store.dispatch('playlist/getFavPlaylists', {
        userId: this.userId,
        page: 1,
        limit: 15
      })
    }
    this.isFavorite = this.isFav
  },
  methods: {
    async handleClick(){
        this.loading = true
        
        if(this.isFavorite){
          await deletePlaylistFromFavorites(this.playlistId)
          this.isFavorite = false
        } else {
          await postPlaylistToFavorites(this.playlistId)
          this.isFavorite = true
        }

        this.loading = false
    }
  },
  computed: {
    playlistsFav(){
      return this.$store.getters['playlist/playlistsFav']
    },
    userId(){
      return this.$store.getters['user/userInfo'].id
    }
  }
}
</script>

