<template>
  <div class="block">
    <el-rate
      @change="handleChange"
      v-model="value"
      :colors="colors"
      :disabled="isDisabled"
      :show-score="rating !== 0"/>
  </div>
</template>

<script>
import { putPlaylistRating } from '@/api/playlists'

export default {
  name: 'rate',
  data(){
    return {
      value: this.rating || null,
      loading: false,
      playlistId: this.$route.params.playlistId || {},
      colors: ['#99A9BF', '#F7BA2A', '#FF9900']
    }
  },
  props: ['rating'],
  methods: {
    async handleChange(value){
      this.loading = true
      this.value = value

      const resp = await putPlaylistRating(this.playlistId, value)
      this.loading = false
    }
  },
  computed: {
    isDisabled(){
      return this.loading || this.value !== 0
    }
  }
}
</script>

<style lang="scss">
.block {
  margin-top: 10px;
}
</style>

