<template>
  <el-dropdown trigger="click">
    <el-button class="el-icon-share" circle @click.stop="handleClick"></el-button>
    <el-dropdown-menu slot="dropdown" class="share">
      <span class="share-title">Поделиться</span>
      <div class="share-btn">
        <el-input
          ref="share"
          class="share-btn-input"
          :value="value"
          readonly/>
        <el-button type="text" @click="copyURL" class="share-btn-copy">
          <i class="el-icon-document-copy"></i>
        </el-button> 
      </div>
    </el-dropdown-menu>
  </el-dropdown>
</template>

<script>
import { Message } from 'element-ui'

export default {
  data(){
    return {
      value: ''
    }
  },
  props: ['id'],
  methods: {
    handleClick(){
      this.value = this.id ? `${window.location.href}my-music/${this.id}` : window.location.href
    },
    copyURL(){
      this.$refs.share.select()
      const successful = document.execCommand('copy')
      successful ? Message.success('URL скопирован') : Message.error('Ошибка')
    }
  }
}
</script>

<style lang="scss" scoped>
.share{
  display: flex;
  flex-direction: column;
  width: 250px;
  &-title{
    margin: 0 0 0 5px;
  }
  &-btn{
    display: flex;
    flex-direction: row;
    width: 100%;
    &-input{
      width: 85%;
      margin: 10px 0 10px 3px;
      padding: 0 5px !important;
    }
  }
  
}
</style>
