<template>
  <div class="not-found">
    <div class="err">
      <p class="num">4</p>
      <img src="../../assets/logo.png" alt="">
      <p class="num">4</p>
    </div>
    <p class="msg">Страница не найдена!</p>
    <div class="back"
      :router="true">
      <router-link to="/" class="back">Вернуться на главную</router-link>
    </div>
  </div>
</template>

<script>
export default {
  
}
</script>

<style lang="scss">
.not-found {
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .err {
    display: flex; 
    flex-direction: row;
    align-items: center;

    .num {
      font-size: 10rem;
      margin: 20px;
      color: #409eff;
    }
    
    img {
      width: 256px;
      height: 256px;
      object-fit: cover;
    }
    
  }

  .msg {
    text-align: center;
    cursor: default;
    font-size: 3rem;
  }
  .back {
    color: #606266;
    margin: 0;
    transition: .2s;
    text-decoration: none;

    &:hover {
      color: #409EFF;
    }
  }
}

@media (max-width: 812px) {
  .num{
    font-size: 6rem;
    margin: 10px;
  }
  img{
    width: 128px;
    height: 128px;
  }
  .msg{
    font-size: 1.5rem;
  }
}
</style>
