<template>
  <div class="comments-body-user">
    <div class="comments-body-user-header">
      <div class="comments-body-user-header-avatar">
        <i class="el-icon-user"></i>
      </div>
      <div class="comments-body-user-header-info">
        <p class="comments-body-user-header-info-name">User Name</p>
        <p class="comments-body-user-header-info-data">{{ new Date(comment.created_at).toLocaleString() }}</p>
      </div>
    </div>
    <p class="comments-body-user-comment">{{ comment.comment }}</p>
  </div>
</template>

<script>
export default {
  props: ['comment']
}
</script>
