<template>
  <div class="comments">
    <div class="comments-header">
      <h3>Комментарии ({{ totalItems }})</h3>
    </div>
    <div v-loading="loading" class="comments-body">
      <CommentItem 
        v-for="comment in comments.data"
        :comment="comment" 
        :key="comment.id" 
      />
    </div>
    <div class="comments-pag">
      <el-pagination
        class="pagination"
        background
        layout="prev, pager, next"
        :page-count="countOfPages"
        @current-change="handleChange"
        :current-page.sync="currentPage"
      />
    </div>
    <div class="comment">
      <h3>Добавьте комментарий по поводу альбома</h3>
      <el-input
        type="textarea"
        class="textarea"
        :autosize="{ minRows: 6, maxRows: 8}"
        :readonly="!isLogged"
        :placeholder="isLogged ? 'Оставьте свой комментарий' : 'Войдите в аккаунт или зарегистрируйтесь, чтобы оставить комментарий'"
        v-model="textarea">
      </el-input>
      <div class="comment-footer" v-if="isLogged">
        <div class="comment-footer-rating"></div>
        <el-button type="submit" @click="comment" :disabled="isDisabled">Добавить комментарий</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import CommentItem from '@/components/Comments/CommentItem'

export default {
  data(){
    return {
      totalItems: 0,
      countOfPages: 1,
      currentPage: 1,
      limit: 4,
      loading: false,
      textarea: '',
      playlistId: this.$route.params.playlistId || {},
      isDisabled: false
    }
  },
  components: {
    CommentItem
  },
  sockets: {
    connect(){
      console.log('Connected')
      this.sockets.subscribe('newComment', () => {
        this.getComments()
      })
    },
    disconnect(){
      console.log('Disconnected')
    }
  },
  mounted(){
    this.getComments()
  },
  methods: {
    async getComments(){
      this.loading = true

      await this.$store.dispatch('comments/getComments', {
        id: this.playlistId,
        page: this.currentPage,
        limit: this.limit,
      })

      this.totalItems = this.comments.count
      this.countOfPages = Math.ceil(this.totalItems/this.limit)

      this.loading = false
    },
    comment(){
      this.$socket.emit('createComment', {
        playlistId: this.playlistId,
        comment: this.textarea
      })
      
      this.textarea = ''
      this.isDisabled = true

      this.getComments()

      this.isDisabled = false
    },
    handleChange(page){
      this.currentPage = page
      this.getComments()
    }
  },
  computed: {
    comments(){
      return this.$store.getters['comments/comments']
    },
    isLogged(){
      return this.$store.getters['user/isLogged']
    },
  },
  watch: {
    '$route'(){
      this.currentPage = 1
      this.getComments()
    } 
  }
}
</script>

<style lang="scss">
.comments {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-header {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &-pag {
    margin: auto
  }

  &-body {
    margin: 2vh 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    &-user {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;

      &-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: flex-start;

        &-avatar {
          i {
            border: solid 1px #409EFF;
            border-radius: 50%;
            padding: 10px;
            font-size: 24px;
            color: #409EFF;
          }
        }

        &-info {
          width: 70%;
          display: flex;
          padding: 0 0 0 10px;
          flex-direction: column;
          justify-content: flex-start;

          &-name {
            font-size: 1.1rem;
            margin: 0;
          }

          &-data {
            font-size: 0.8rem;
            color: #409eff;
            margin: 0;
          }

          &-rating {
            font-size: 0.9rem;
            margin: 0;
          }
        }        
      }
      &-comment {
        width: 80%;
        text-align: left;
        margin-left: 5px;
      }
    }
  }
}

.comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 2vh;
  }
}

@media (max-width: 768px) {
  .comments-body-user {
    &-header-info-name {
      font-size: 12px;
    }
    &-comment {
      font-size: 10px;
      width: 90%;
    }
  } 
}
@media (max-width: 500px) {
  .comments-body-user {
    width: 100%;
    margin: 2vh 0;
  }
}
@media (max-width: 350px) {
  .comments-body-user-comment {
    width: 100%;
  }
}


</style>
