<template>
  <div id="app">
    <div class="app-wrapper">
      <nav-component/>
    <el-row>
    <el-col :span="22" :offset="1" class="col">
      <router-view></router-view>
    </el-col>
    </el-row>
    </div>
  </div>
</template>

<script>
import NavComponent from '@/components/Nav'

import { getToken } from '@/utils/auth'

export default {
  components: { NavComponent },
  async beforeMount(){
    const token = getToken()
    if(token){
      this.$store.dispatch('user/setTokenToStore', { token })
      await this.$store.dispatch('user/getCurrent')
    }
  }
}
</script>

<style lang="scss" src="./assets/styles/index.scss"></style>
