<template>
  <div class="genre"
  v-loading="loading">
    <h3>Genre</h3>
    <div class="popular">
      <playlistItem
        v-for="playlist in playlists" 
        :key="playlist.id" 
        :id="playlist.id"
        :playlist="playlist"/>
    </div>
  </div>
</template>

<script>
import playlistItem from '@/components/Playlist/Item.vue'

import { getPlaylistsByQuery } from '@/api/playlists'

export default {
  data(){
    return{
      playlists: [],
      loading: true
    }
  },
  async mounted(){
    const response = await getPlaylistsByQuery('desc', 'genre_id')
    this.playlists = response.data.data

    this.loading = false
  },
  components:{
    playlistItem
  },
  watch:{
    async '$route'(){
      const response = await getPlaylistsByQuery('desc', 'genre_id')
      this.playlists = response.data.data

      this.loading = false
    } 
  }
}
</script>

<style lang="scss">
  .search{
    width: 25%;
  }
</style>