<template>
  <div class="home-pages">
    <div class="tabs">
      <el-tabs
        text-color="black" 
        v-model="activeName" >
        <el-tab-pane label="Популярное" name="popular"><Popular/></el-tab-pane>
        <el-tab-pane label="Жанры" name="genre"><Genre/></el-tab-pane>
        <el-tab-pane label="Длительность" name="duration"><Duration/></el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>

import Popular from './Popular.vue'
import Genre from './Genre.vue'
import Duration from './Duration.vue'

export default {
  data(){
    return{
      activeName: 'popular'
    }
  },
  components: {
    Popular,
    Genre,
    Duration
  }
}
</script>

<style lang="scss" scoped>
.home-pages{
margin-top: 3vh;
  
  h1{
    margin: 40px 0 10px ;
  }
}
</style>