<template>
  <div class="popular-playlist"
    v-loading="loading">
    <h3>Playlists</h3>
    <div class="popular">
      <playlistItem
        v-for="playlist in playlists" 
        :key="playlist.id" 
        :id="playlist.id"
        :playlist="playlist"/>
    </div>
  </div>
</template>

<script>
import playlistItem from '@/components/Playlist/Item.vue'

import { getPlaylistsByQuery } from '@/api/playlists'

export default{
  data(){
    return{
      playlists: [],
      loading: true
    }
  },
  async mounted(){
    this.loading = true

    const response = await getPlaylistsByQuery('desc', 'rating')
    this.playlists = response.data.data

    this.loading = false
  },
  components:{
    playlistItem
  },
  watch:{
    async '$route'(){
      const response = await getPlaylistsByQuery('desc', 'rating')
      this.playlists = response.data.data

      this.loading = false
    } 
  }
}

</script>

<style lang="scss">
$primary-color: #409EFF;

.popular{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

</style>