<template>
  <div class="header" v-if="$route.path !== '/404'">
    <el-menu
      :router="true"
      :default-active="$route.path"
      class="el-menu-demo"
      mode="horizontal"
      >
      <div class="logo">
        <img src="../../assets/logo32.png" alt="">
        <h3><mark>My</mark>TopMusic</h3>
      </div>
      <el-menu-item
        class="menu-item"
        index="/" 
        route="/">
        Главная
      </el-menu-item>
      <div class="right-menu">
        <el-button @click="$modal.show('LoginModal')" v-if="!isLogged" type="primary">Войти</el-button>
        <el-button @click="$modal.show('RegistrationModal')" v-if="!isLogged">Зарегистрироваться</el-button>
      </div>
      <el-submenu index="2" v-if="isLogged" class="submenu">
        <template slot="title">{{ userName }}</template>
        <el-menu-item 
          index="/my-music"
          route="/my-music"
          class="submenu-item"
          v-if="isLogged">
          Моя музыка</el-menu-item>
        <el-menu-item 
          index="/genres" 
          route="/genres"
          class="submenu-item"
          v-if="isAdmin">
          Жанры</el-menu-item>
        <el-menu-item
          index="/users-list" 
          route="/users-list"
          class="submenu-item"
          v-if="isAdmin">
          Список пользователей</el-menu-item>
        <el-menu-item 
          @click="handleClick"
          class="submenu-item" 
          v-if="isLogged">
          Выйти</el-menu-item>
      </el-submenu>
      </el-menu>
    <LoginModal/>
    <RegistationModal/>
  </div>
</template>

<script>
import { constantRouterMap } from '@/router'

import LoginModal from '@/components/modals/LoginModal'
import RegistationModal from '@/components/modals/RegistationModal'

export default {
  components: {
    LoginModal,
    RegistationModal
  },
  data: () => ({
    headerItems: [ ...constantRouterMap ],
    activeIndex: ''
  }),
  mounted(){
    this.activeIndex = this.$router.currentRoute.meta ? this.$router.currentRoute.meta.menuKey : ''
    this.$router.beforeEach((to, from, next) => {
      this.activeIndex = to.meta ? to.meta.menuKey : ''
      next()
    })
  },
  methods: {
    handleClick(){
      this.$confirm('Вы уверены, что хотите выйти?', 'Warning',{
        confirmButtonText: 'Выйти',
        cancelButtonText: 'Закрыть',
        type: 'warning'
      }).then(() => {
        this.$store.dispatch('user/userLogout')
        this.$router.push('/')
        this.$message({
          type: 'success',
          message: 'Вы вышли из аккаунта'
        })
      }).catch((e) => {console.log(e)})
    }
  },
  computed: {
    userName(){
      const userInfo = this.$store.getters['user/userInfo']
      return userInfo ? userInfo.name : 'username'
    },
    isAdmin(){
      return this.$store.getters['user/isAdmin']
    },
    isLogged(){
      return this.$store.getters['user/isLogged']
    }
  }
}
</script>

<style lang="scss" scoped> 
.header {
  display: flex;
  flex-direction: row;
  .el-menu-demo {
    display: flex;
    width: 100%;
    justify-content: space-around;
    .logo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      img {
        height: auto;
        width: 32px;
        object-fit: cover;
      }
      h3 {
        font-size: 20px;
        margin: 15px 10px;
        mark {
          font-size: 23px;
          background-color: transparent;
          color: #409EFF;
        }
      }
    }
    .menu-item {
      height: 60px !important;
      margin: 0 10px;
    }
    .right-menu {
      margin: 15px 0;
      width: 40%;
      outline: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.submenu{
  margin-right: 10px !important;
  &:hover {
    color: #409EFF !important;
  }
}
.submenu-item {
  padding: 0 0 0 20px !important;
  &:hover {
    color: #66b1ff !important;
    background: #ecf5ff;
  }
}

@media (max-width: 1024px) {
  img{
    margin-left: 20px;
  }
}
@media (max-width: 560px) {
  h3{
    display: none;
  }
}
@media (max-width: 425px) {
  .menu-item, .submenu{
    font-size: 0.9rem !important;
  }
}
</style>
